<!DOCTYPE HTML>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/web/game.css">
</head>
<body>
<h1>Ship locations!</h1>

<div id="table">
    <h2 v-if="gameView != null">{{gameView.gamePlayers[0].email}} vs. {{gameView.gamePlayers[1].email}}</h2>
    <table border="1">
        <thead>
            <tr>
                <td></td>
                <td v-for="column in columns">{{column}}</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in rows">
                <td>{{row}}</td>
                <td v-for="column in columns" v-bind:id="row + column"></td>
            </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="game.js"></script>
</body>
</html>