<!DOCTYPE HTML>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/web/games.css">
</head>
<body>
<div id="app">
<div>
    <h1>Salvo!</h1>
    <ul>
        <li v-for='game in games'>
            Date: {{game.date}}
            <ol>
                <li v-for='gamePlayer in game.gamePlayers'>

                    Email: {{gamePlayer.player.email}}
                </li>
            </ol>
        </li>
    </ul>
</div>

<div class="table">
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </tr>
        </thead>
        <tbody>
        <tr v-for="(player, index) in players.email">
            <td>{{player}}</td>
            <td>{{players.total[index]}}</td>
            <td>{{players.won[index]}}</td>
            <td>{{players.lost[index]}}</td>
            <td>{{players.tied[index]}}</td>
        </tr>
        </tbody>
    </table>
<div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="games.js"></script>
</body>
</html>