@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("/web/img/fondo3.jpg");
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: rgb(35, 35, 35);
}

body::-webkit-scrollbar-thumb {
    background: #37483e;
}

/**video {
    background-image: url("/web/img/fondo2.jpg");
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}**/

h1 {
    color: #c5ce17;
}

.fa-arrow-alt-circle-left {
    color: #c5ce17;
    font-size: 30px;
    cursor: pointer;
}

#players h1 {
    font-size: 30px;
}

.shipColor{
    background-color: green;
}

.newViewerSalvo {
    background-color: blue !important;
}

.oldViewerSalvo {
    background-color: rgb(0, 247, 255);
}

.enemySalvoColor {
    background-color: yellow;
}

.hits {
    background-color: red;
}

#players h1{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
}

#table div {
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
}

#table .table {
    display: flex;
    flex-direction: column;

}

#table .table table {
    width: 500px;
    height: 500px;
}
#table .table table tbody tr td,
#table .table table thead tr th,
#table .table table thead {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#table #myAlert {
    display: none;
    transition: flex 0.7s ease-in;
}
